html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  /* Prevent unwanted scaling */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin-bottom: 60px;
  /* Prevent unwanted scaling */
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Animation Optimization - GPU acceleration */
.hidden-up,
.hidden-left,
.hidden-right {
    will-change: transform, opacity;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

/* Remove will-change after animation completes to free resources */
.hidden-up.show,
.hidden-left.show,
.hidden-right.show {
    will-change: auto;
}